@using test123.Models

@model List<Person>

@{
    ViewBag.Title = "Home Page";
}



<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    @*Tabelle*@

    <h2> Personenliste</h2>

    @if (Model != null && Model.Count > 0)
    {
        <table id="peopleTable" border="1" cellpadding="5">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>

            <tbody>

                @*
        @foreach (var person in Model)
        {
            <tr data-id="@person.Id">
                <td>@person.Id</td>
                <td class="nameCell">@person.Name</td>
                <td>
                    <button type="button" class="editButton">Bearbeiten</button>
                    <button type="button" class="detailsButton">Details</button>
                </td>
            </tr>
        }
                *@


            </tbody>
        </table>
    }

    else
    {
        <p>Noch keine Einträge vorhanden.</p>
    }

    <hr />

    @*Details-Popup*@

    <div class="modal fade" id="detailsModal">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <h5>Personendetails</h5>
                <p><strong>ID:</strong> <span id="detailId"></span></p>
                <p><strong>Name:</strong> <span id="detailName"></span></p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>


    @*Eintrag hinzufügen*@

        <form id="addForm">
            <input type="text" id="nameInput" name="name" placeholder="Neuer Name" />
            <button type="submit">Hinzufügen</button>
            <input type="button" id="btntest" name="TEST" title="TEST" value="TEST" onclick="btnclick()" />
        </form>
    




    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2></h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2></h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2></h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/people")
